---
const { title, content } = Astro.props;
---
<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<div class="bg-[#752323] border-red-600 border-l-4 py-2 my-4">
    <top class="ml-2 font-bold">
        <icon class="material-symbols-outlined align-middle ">report</icon>
        <type>{title}</type>
    </top>
    <p class="ml-2 mt-2">{content}</p>
</div>