---
import '../styles/base.css';
---
<head>
    <meta charset="UTF-8">
</head>
<body class="text-white">
    <h1 class="text-2xl font-bold">Dokumentation</h1>
    <p>Willkommen bei der Dokumentation! Hier können Sie Developer Ressourcen, Code Erklärungen und vieles mehr finden. Die dokumentation ist in deutsch und <a href="/" class="underline underline-offset-4 text-sky-500">englisch</a> verfügbar.</p>
</body>