---
import '../styles/base.css';
---

<head>
    <meta http-equiv="refresh" content="3; URL=/en/Introduction/Overview">
</head>
<body>
    <div class="flex w-full text-center text-white flex-col">
        <h1 class="font-sans font-bold text-2xl">You're getting redirected!</h1>
        <p class="font-sans">There isn't any content here right now, so we're redirecting you to the webroot! If your browser doesn't support (doubt it) or allows redirects, please click <a class="underline underline-offset-4 text-sky-500" href="/en/Introduction/Overview">here</a></p>
    </div>
</body>