---
---

<button id="btn" class="material-symbols-outlined absolute right-20 p-2" onclick="copyCode()">content_copy</button>

<script is:inline>
function copyCode() {
    let content = document.getElementById("btn").previousElementSibling.innerText
    navigator.clipboard.writeText(content);
}
</script>