---
const { active, parentSection } = Astro.props;
---

<div class="w-1/5 ml-2">
    <h1 class="text-2xl mb-2 underline">Einführung</h1>
    <div class="mx-1">
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="intro"><a href="/de/Einführung/Übersicht">Übersicht</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="intro"><a href="/de/Einführung/Anforderungen">Anforderungen</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="intro"><a href="/de/Einführung/Installation">Installation</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="intro"><a href="/de/Einführung/Fehler">Fehler</a></h2>
        </div>
    </div>
    <h1 class="text-2xl mb-2 underline">Hauptseite</h1>
    <div class="mx-1">
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="main"><a href="/de/Hauptseite/Struktur">Struktur</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="main"><a href="/de/Hauptseite/Design Ideen">Design Ideen</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="main"><a href="/de/Hauptseite/Probleme">Probleme</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="main"><a href="/de/Hauptseite/Media Änderungen">Media Änderungen</a></h2>
        </div>
    </div>
    <h1 class="text-2xl mb-2 underline">Blog</h1>
    <div class="mx-1">
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="blog"><a href="/de/Blog/Struktur">Struktur</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="blog"><a href="/de/Blog/Design Ideen">Design Ideen</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="blog"><a href="/de/Blog/Probleme">Probleme</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="blog"><a href="/de/Blog/Media Änderungen">Media Änderungen</a></h2>
        </div>
    </div>
    <h1 class="text-2xl mb-2 underline">Dokumentation</h1>
    <div class="mx-1">
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="docs"><a href="/de/Documentation/Warum ein Framework nutzen">Warum ein Framework nutzen?</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="docs"><a href="/de/Documentation/Warum AstroJS">Warum AstroJS?</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="docs"><a href="/de/Documentation/Struktur">Struktur</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="docs"><a href="/de/Documentation/Vorteile">Vorteile</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="docs"><a href="/de/Documentation/Probleme">Probleme</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="docs"><a href="/de/Documentation/Styling">Styling</a></h2>
        </div>
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="docs"><a href="/de/Documentation/mdx">Markdown & MDX</a></h2>
        </div>
    </div>
    <h1 class="text-2xl mb-2 underline">API</h1>
    <div class="mx-1">
        <div id="borders" class="flex flex-row items-center">
            <div class="w-1 h-6 rounded-sm bg-sky-500 hidden"></div>
            <h2 class="api"><a href="/de/API/Endpunkte">Endpunkte</a></h2>
        </div>
    </div>
    <hidden id="hidden3" class="hidden">{active}</hidden> <!-- Used to get frontmatter  -->
    <hidden id="hidden2" class="hidden">{parentSection}</hidden> <!-- Used to get frontmatter  -->
    <script>
        const parentSection = document.getElementById("hidden2").innerText;
        const elements = document.getElementsByTagName("h2");
        let i = 0;

        for(i=0; i<elements.length; i++) {
            if(elements[i].classList.contains(parentSection) && elements[i].innerText == document.getElementById("hidden3").innerText) {
                    elements[i].classList.add("text-sky-500");
                    console.log(elements[i].previousElementSibling);
                    elements[i].previousElementSibling.classList.remove("hidden");
                
            }
        }
    </script>
</div>