---
const { lang } = Astro.props;
---

<div class="w-full h-12 p-2 flex justify-between">
    <div class="align-left">
        <a id="backToStartBTN" href="/en/Introduction/Overview">Documentation @ v0.0.7</a>
    </div>
    <div class="float-center">
        <span class="font-mono">xefili@xefili.dev:~</span>
        <input id="searchBox" class="font-mono focus:outline-none bg-transparent" placeholder="search...">
        <div class="text-white w-96 h-48 [backdrop-filter:blur(35px)] rounded-lg bg-[#00000070] hidden" id="resultBox">
            <ul class="text-center text-xl">
                <li><a class="li hidden"></a></li>
                <li><a class="li hidden" id="isSecondElement"></a></li>
                <li><a class="li hidden" id="isThirdElement"></a></li>
            </ul>
        </div>
    </div>
    <div class="justify-flex-end">
        <a href="/">Home</a>
        <a class="ml-4" href="https://xefili.dev/blog.html">Blog</a>
        <a class="ml-4" href="https://github.com/xefili/xefili.dev">Github</a>
    </div>
</div>
<hidden class="hidden" id="hidden">{lang}</hidden>
<script is:inline type="module">
let res = await fetch("https://api.xefili.dev/config");
let jsonRes = await res.json();
console.info("API config:");
console.info(jsonRes);
if(document.getElementById("hidden").innerText == "de") {
    document.getElementById("searchBox").setAttribute("placeholder", "Suche...");
    document.getElementById("backToStartBTN").setAttribute("href", "/de/Einführung/Übersicht");

}

document.getElementById("searchBox").addEventListener("input", async() => {
    document.getElementById("resultBox").classList.remove("hidden");
    let val = document.getElementById("searchBox").value;
    let language = window.location.pathname.split("/")[1].toLocaleUpperCase();
    let data = await fetch(`https://api.xefili.dev/documentation${language}?name_like=${val}&_limit=3`, {method:"GET"}); // check API reference @ beta.xefili.dev/en/API/Endpoints
    let jsonData = await data.json();
    if(jsonData.length == 3) {
        if(val == "") {
            document.getElementById("resultBox").classList.add("hidden");
        } else {
            document.getElementById("resultBox").classList.remove("hidden");

            document.getElementsByClassName("li")[0].classList.remove("hidden");
            document.getElementsByClassName("li")[0].innerHTML = jsonData[0].name;
            document.getElementsByClassName("li")[0].setAttribute("href", jsonData[0].relativeLink);

            document.getElementsByClassName("li")[1].classList.remove("hidden");
            document.getElementsByClassName("li")[1].innerHTML = jsonData[1].name;
            document.getElementsByClassName("li")[1].setAttribute("href", jsonData[1].relativeLink);

            document.getElementsByClassName("li")[2].classList.remove("hidden");
            document.getElementsByClassName("li")[2].innerHTML = jsonData[1].name;
            document.getElementsByClassName("li")[2].setAttribute("href", jsonData[1].relativeLink);
        }
    }
    if(jsonData.length == 2) {
        document.getElementsByClassName("li")[0].classList.remove("hidden");
        document.getElementsByClassName("li")[0].innerHTML = jsonData[0].name;
        document.getElementsByClassName("li")[0].setAttribute("href", jsonData[0].relativeLink);

        document.getElementsByClassName("li")[1].classList.remove("hidden");
        document.getElementsByClassName("li")[1].innerHTML = jsonData[1].name;
        document.getElementsByClassName("li")[1].setAttribute("href", jsonData[1].relativeLink);
        document.getElementById("isThirdElement").classList.add("hidden");
    }
    if(jsonData.length == 1) {
        document.getElementsByClassName("li")[0].classList.remove("hidden");
        document.getElementsByClassName("li")[0].innerHTML = jsonData[0].name;
        document.getElementsByClassName("li")[0].setAttribute("href", jsonData[0].relativeLink);
        document.getElementById("isSecondElement").classList.add("hidden");
        document.getElementById("isThirdElement").classList.add("hidden");
    }
})
</script>