---
import Sidebar from '../components/Sidebar.astro';
import Topbar from '../components/Topbar.astro'
import '../styles/base.css';
import '../styles/mdxStyle.css';
const { frontmatter } = Astro.props;
---

<div class="w-full text-white">
    <div class="relative block z-5">
        <Topbar />
    </div>
    <div class="flex flex-row">
        <Sidebar active={frontmatter.header} parentSection={frontmatter.parentSection} />
        <div class="w-full containsMDX">
            <slot />
        </div>
    </div>
</div>