---
import Sidebar from '../components/Sidebar.astro';
import Topbar from '../components/Topbar.astro'
import '../styles/base.css';
const { frontmatter } = Astro.props;
---

<div class="w-full h-[100vh] text-white bg-gradient-to-br from-[#0f172a] to-[#193052]">
    <div class="block">
        <Topbar />
    </div>
    <div class="flex flex-row">
        <Sidebar active={frontmatter.header} parentSection={frontmatter.parentSection} />
        <div class="w-full">
            <slot />
        </div>
    </div>
</div>