---
import Sidebar from '../components/Sidebar.astro';
import '../styles/base.css';
const { frontmatter } = Astro.props;
---

<div class="flex">
    <Sidebar active={frontmatter.header} />
    <div>
        <slot />
    </div>
</div>